<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    
<div class="container text-center">

    <header class="bg-warning text-dark py-4 mt-4">
  <div class="container text-center">
    <h1 class="fw-bold">Inicio</h1>
    <p class="lead mt-2">
  esta es la pagina principal de todo
    </p>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Menu</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/animales" target="_blank">Animales Exoticos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Carros" target="_blank">Carros clasicos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/acerca_de">Acerca de...</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/maravillas">Maravillas</a>
            </li>
        
          <form class="d-flex" id="buscador">
            <input id="searchInput" class="form-control me-2" type="search" placeholder="Buscar informacion de..." aria-label="Buscar" />
            <button class="btn btn-outline-success" type="submit">Buscar</button>
          </form>
        </div>
      </div>
    </nav>
    </div>
</header>

    <section>
      {% block contenido %}
      {% endblock  %}
    </section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>