{% extends "base.html" %}

{% block contenido %}

<h1 class="text-center">Hola</h1>

<div class="container text-center mt-5 mb-5">
<h2 class="text-center">Bienvenido a mi aplicacion web</h2>
    <p class="fs-5">
    Aqui podras encontrar un maravilloso recorrido por diferentes temas muy interesantes
De primero tenemos un vistazo a la naturaleza con 6 animales eexoticos tan interesantes que capaz ni sabias que existian 
Despues estaria la seccion que tal ves sea la mas interesante los carros clasicos hecha un vistazo a autos que revolucionaron la 
ciencia automotris 
Tambien esta la seccion de las / maravillas del mundo conoce mas sobre estas increibles estructuras dispersas por el mundo 
Y al final tenemos la seccion Acerca de... donde podras conocer mas sobre mi el creador de esta aplicacion web
</p>
</div>

<footer class="bg-secondary text-white text-center py-4 mt-5">
<p class="mb-0">
    Hecho por <strong>Jesús Cabrera Ávila</strong> — Programación 3-D, CETIS 61  
</p>
<small>24308060610607@cetis61.edu.mx</small>
</footer>

{% endblock %}